
body{

}

.image-view img{
    width: 170px;
    height: 100%;
}

.book-detail{
    display: flex;
    margin-top: 10px;
}

.image-wrapper{
    width: 170px;
    height: 230px;
}

.des-detail{
    margin-left: 30px;
}

.des-detail wrapper{
    display: flex;
}

.des-detail label{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.mark-label{
    color: #686868;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.select-file{
    text-decoration: none;
    padding: 5px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    width: 113px;
}

.select-file option{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 10px;
}

.click-down{
    margin-top: 10px;
}

/*Button download*/
.button-down{
    background-color: #25b4b3;
    border: none;
    color: #f1f1f1;
    padding: 5px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    width: 200px;
}

.button-down:hover{
    background: #25c3c2;
    color: #f1f1f1;
    text-decoration: none;
}

.comment-wrapper{
    margin-top: 10px;
}

.bar{
    height: 2px;
    width: auto;
    background: #1aba9b;
}

.write-comment{
    display: flex;
    margin-top: 15px;
}


.write-comment textarea{
    width: 100%;
    margin-left: 5px;
}

.write-comment img{
    width: 50px;
    height: 50px;
    margin-top: 5px;
}

.button-comment{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

.btn-cancel{
    background: transparent;
    border: none;
    color: rgba(41, 41, 41, 0.92);
    padding: 5px 30px;
    text-align: center;
    font-size: 16px;
    margin-left: 10px;
    border-radius: 4px;
}

.btn-cancel:hover{
    cursor: pointer;
}

.btn-submit{
    background-color: #25b4b3; /* Green */
    border: none;
    color: #f1f1f1;
    padding: 5px 20px;
    text-align: center;
    font-size: 16px;
    margin-left: 10px;
    border-radius: 4px;
}

.btn-submit:hover{
    background: #25c3c2;
    cursor: pointer;
}


.rating-group{
    margin-top: 10px;
}

.rate-number{
    margin-top: 10px;
}

.select-download{
    border-radius: 3px;
    padding: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.message-list{
    margin-top: 10px;
}

.comment-description{
    margin-left: 10px;
}

.comment-description .comment-text p{

}

.message-container:hover{
    /* box-shadow: 1px 2px 4px 1px #dadada; */
}

.message-container {
    box-shadow: 0 0px 1px 0px #dadada;
    padding: 15px;
    border-radius: 3px;
    margin-top: 15px;
    background-color: white;
    border-color: lightgrey;
}

.side-block{
    background-color: white;
}
.wrapper4{
    padding: 12px 10px;
    margin: 12px 0px 0 0;
}

.wrapper8{
    padding: 15px 10px;
    margin: 0;
}

.main-block{
    background-color: white;
    margin: 0;

}

.message-list .message-container{
    display: flex;
}

.message-list .message-container .profile img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 0;
}

.operation{
    display: flex;
    margin-right: 15px;
}

.show-more{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.show-more .more{
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    background: #0db6ba;
}

.show-more .more:hover{
    background: #0dadb1;
    color: white;
    cursor: pointer;
}

.reaction:hover{
    cursor: pointer;
}

.react i{
    padding: 3px;
}


.react i:hover{
    cursor: pointer;
}

.rating-stars{
    margin-top: 10px;
}

.rating-stars ul>li.star>i.fa {
    font-size: 20px;
    color: #ccc;
}

.com-star i.fa {
    font-size: 13px;
    color: #ccaf1c;
}

.white-star i.fa{
    font-size: 13px;
    color: #dbdbdb;
}


.rate-report{
    display: flex;
    align-content: center;
}

.rate-report{
    display: flex;
    align-content: center;
}

.total{
    margin-top: 10px;
    text-align: center;
}

.rate-text{
    text-align: center;
}

.container-fluid .col-4.col-md-4.wrapper4 {
    background: #fff;
    padding: 0px 15px 15px 15px;
}

/*Begin of Follow Poster => Added by Thoura Lai on 27-July-2018*/
.follow-dropdown {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

.follow-dropdown-content {
    display: none;
    position: absolute;
    padding: 8px 10px;
    border-radius: 3px;
    background-color: #fdfdfd;
    width: 215px;
    box-shadow: 4px 4px 12px 3px rgba(29, 29, 29, 0.39);
    z-index: 10;
}

.follow-dropdown:hover .follow-dropdown-content {
    display: block;
}

/*[End] of Follow Poster => Added by Thoura Lai on 27-July-2018*/


.profile-user{
    display: flex;
}

.profile-user p{
    width: 100%;
    margin-top: 5px;
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #34383b;
}

.profile-user img{
    width: 35px;
    height: 35px;
    border-radius: 50px;
}

.follow-button button{
    width: 100%;
    background: #25b4b3;
    border: 0;
    margin-top: 15px;
}

.all-send{
    margin-top: 5px;
}

.all-send label{
    color: #34383b;
}



/*Toast message*/
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #249392;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}


/*Begin of Follow Poster Profile on Top Book Detail => Added by Thoura Lai on 27-July-2018*/
.poster-dropdown {
    position: absolute;
    float: right;
    right: -4px;
    top: -5px;
}

.poster-dropdown img{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    margin-right: 0px;
}

.poster-dropdown-content {
    display: none;
    position: absolute;
    padding: 8px 10px;
    border-radius: 3px;
    background-color: #fdfdfd;
    width: 205px;
    box-shadow: 4px 4px 12px 3px rgba(29, 29, 29, 0.39);
    z-index: 10;
    right: 0;
}

.poster-dropdown:hover .poster-dropdown-content {
    display: block;
}

/*[End] of Follow Poster Profile on Top Book Detail => Added by Thoura Lai on 27-July-2018*/


/*Recommended book area*/
.recommended-container{
    max-height: 450px;
    overflow-y:scroll;
    margin-bottom: 10px;
    background: #f5f5f5;
    padding: 1px 2px 0px;
}

/* width */
.recommended-container::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.recommended-container::-webkit-scrollbar-track {
    background: #f5f5f5;
}

/* Handle */
.recommended-container::-webkit-scrollbar-thumb {
    background: #c3c3c3;
}

/* Handle on hover */
.recommended-container::-webkit-scrollbar-thumb:hover {
    background: #afafaf;
}