.dropdown-content.class_index {
    min-width: 48px !important;
}

.dropdown:hover .dropdown-content.class_index {
    display:  inline-flex;
    padding: 7px 0;
}
.dropdown-content.class_index a {

    font-size: 12px;

    padding: 1px 11px;
}
.fa, .fas {

}