body, html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.container {
    display: block !important;
    padding: 0;
}

.container .logo {
    width: 60px;
}

.container .logo img {

    max-width: 100%;
    max-height: 100%;
}

.form-group .navigation-clean-search .form-inline .search-field {
}

/*start block */

.wrapper8 {
    background:  #fff !important;
    margin: 15px 0 0 0px;
    padding: 5px 15px 15px 20px;
}

.col-8.col-md-9.wrapper8 .main-block {
    margin-bottom: 25px;
}

.main-block .block {
    display: flex;
    border: 1px solid #efefef;
    padding: 10px 0;
}

.main-block {
}

.main-block .book-wrapper {
}

.col-8.col-md-8.wrapper8 .main-block {
    margin-bottom: 20px;
}

.col-8.col-md-8.wrapper8 .main-block .block-title {

}

.title-link-a{
    width: 162px;
    margin: 0;
}

.title-link-a:hover{
    text-decoration: none;
}


.block-title .title-link{
    width: 164px;
    background: #1aba9b;
    color: whitesmoke;
    clip-path: polygon(0 0%, 87% 0%, 100% 100%, 0% 100%);
    padding: 2px 10px;
    margin: 1px;
}

.block-title{
    border-bottom: 2px solid #1aba9b;
    color: #1aba9b;
    position: relative;
    margin-bottom: 5px;
}

.block-title h5:before {
    /* content: ""; */
    position: absolute;
    width: 20%;
    background: #1aba9b;
    top: 0;
    height: 100%;
    z-index: -1;
    left: 0;
}

.wrapper4 {
}

/* end block */

/* start book */
.book-container:first-child {
    /* margin-left: 0; */
}

div.book-container:last-child {

}

.info .info_group ul li{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.book-container {
    width: 184px;
    height: auto;
    background: white;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    padding: 2px;
    box-shadow: 0 3px 7px 0px #d0d0d0;
    border-radius: 4px;
    display: inline-block;
    flex-direction: row;
    margin: 5px 14px 5px;
    overflow: hidden;
}

.book-container .img-container {
    width: 162px;
    height: auto;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    overflow: hidden;
}

.img-container img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    position: relative;
}

.book-container .mark-icon {
    max-width: 100%;
    max-height: 100%;
    text-align: right;
    right: -6px;
    top: -2px;
}

.mark-icon.active .favorite i.fa-heart {
    color: #ff2f2f;
    position: relative;
    text-align: right;
    padding: 0;
    margin: 0;
}

.mark-icon .favorite {
    position: relative;
    text-align: right;
    color: white;
    padding: 0;
}

.mark-icon img {
    max-width: 10%;
    max-height: 100%;
    position: relative;
    z-index: 1;
}

.book-container .info-container {
    position: relative;
    margin-top: 74px;
    height: 166px;
    background: #f1f1f1;
    clip-path: polygon(0 29%, 100% 0%, 100% 100%, 0% 100%);
}

.info-container .emoji {
    right: 0;
    position: relative;
    text-align: right;
    top: 8px;
}

.emoji img {
    right: 0;
    position: relative;
}

.emoji h4 {
    text-align: right;
}

.emoji h4 {
    right: 0 !important;
}

.info-container .info {
    display: block;
    margin-top: 0;
}

.info .info_group {
    display: block;
    position: relative;
    text-align: left;
}

.info .info_group p {
    font-size: 10px;
    display: inline-block;
    padding: 0 9px;
    margin: 0;
}

.info_group ul {
    text-align: left;
    padding-left: 11px;
    margin: 0;
}

.info_group ul li {
    list-style: none;
    padding: 2px 0;
    font-size: 12px;
}

.info_group ul li a {
}

/* rating star */

.rating-group {
}

.rating-group .rating-widget {
}

section.rating-widget .stars {
}

.clearfix {
    clear: both;
}

.text-center {
    text-align: center;
}

a {
    color: tomato;
    text-decoration: none;
}

a:hover {
    color: #2196f3;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #F5F5F5;
    border: 1px solid #CCC;
    border-radius: 4px;
}

.header {
    padding: 20px 0;
    position: relative;
    margin-bottom: 10px;
}

.header:after {
    content: "";
    display: block;
    height: 1px;
    background: #eee;
    position: absolute;
    left: 30%;
    right: 30%;
}

.header h2 {
    font-size: 3em;
    font-weight: 300;
    margin-bottom: 0.2em;
}

.header p {
    font-size: 14px;
}

#a-footer {
    margin: 20px 0;
}

.new-react-version {
    padding: 20px 20px;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 14px;
    line-height: 1.7;
}

.new-react-version .react-svg-logo {
    text-align: center;
    max-width: 60px;
    margin: 20px auto;
    margin-top: 0;
}

.success-box {
    margin: 50px 0;
    padding: 10px 10px;
    border: 1px solid #eee;
    background: #f9f9f9;
}

.success-box img {
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
}

.success-box > div {
    vertical-align: top;
    display: inline-block;
    color: #888;
}

/* Rating Star Widgets Style */

.rating-stars ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    text-align: left;
    padding: 0 10px;
}

.rating-stars ul li {
    font-size: 5px;
}

.rating-stars ul > li.star {
    display: inline-block;
}

/* Idle State of the stars */

.rating-stars ul > li.star > i.fa {
    font-size: 2.5em;
    /* Change the size of the stars */
    color: #ccc;
}

.rating-stars ul > li.star.hover > i.fa {
    color: #FFCC36;
}

.rating-stars ul > li.star.selected > i.fa {
    color: #FF912C;
}

/* end rating star */

/* end block */

/* start side bar */

.col-4.col-md-4.wrapper4 {
    /* padding: 50px 10px; */
    background: #fff;
    margin: 15px 0px 0 0;
    padding: 5px 15px 15px 15px;
}

.wrapper4 .side-block {
}

.side-b-container {
    background: #fff;
    display: flex;
    padding: 5px;
    box-shadow: 0 0px 1px 0px #dadada;
    margin-bottom: 5px;
}

.side-b-container .side-b-img {
    width: 69px;
}

.side-b-container .side-b-img img {
    max-width: 100%;
    max-height: 100%;
}

.side-b-container .side-b-info {
    padding: 0 10px;
}

.side-b-container .side-b-info .b-info-group {display: block !important;width: 100% !important;}

.side-b-container .side-b-info .b-info-group p {
    margin: 0;
    padding: 10px 0;
}

.side-b-container .side-b-info .b-info-group p:hover {
    text-decoration: none !important;
    border-bottom:  0 !important;
}

.side-b-container .side-b-info .b-info-group p:first-child {
    padding-top: 0;
    color: #333;
}

/* end side bar */

/* start footer */

.social-icons {
    padding: 20px;
}

footer {
    background: #1abc9c;
    background: linear-gradient(45deg, rgba(26,186,155,1) 0%, rgb(31, 152, 141) 100%);
    color: #fff;
    text-align: center;
    padding: 20px;
    padding-bottom: 4px;
}

footer .social-icons i {
    color: #1abc9c;
    background: white;
}

.social-icons h4 {
    padding: 10px;
    color: #fff;
}

.main-block .slide-btn {
    background: none;
    border: none;
    font-size: 30px;
    outline: none;
    cursor: pointer;
}

.main-block .slide-btn i {
    color: #3333;
    transition: all .3s cubic-bezier(.04, .89, .12, 1.03);
}

.main-block .slide-btn i:hover {
    color: #1aba9b;
    transition: all .3s cubic-bezier(.04, .89, .12, 1.03);
}

/* end footer */
@media (max-width: 420px) {
    .container .logo{
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
}

/*Begin of Profile => Added by Thoura Lai on 30-June-2018*/
.profile-dropdown {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

.profile-dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    padding: 10px 5px;
    border-radius: 3px;
    background-color: #fdfdfd;
    min-width: 160px;
    box-shadow: 0px 5px 5px 0px rgba(29, 29, 29, 0.26);
    z-index: 1;
}

.profile-dropdown-content a {
    padding: 5px 15px;
    text-decoration: none;
    display: block;
}

.profile-dropdown-content .bar{
    height: 1px;
    background: rgba(167, 178, 183, 0.51);
    margin-top: 5px;
    margin-bottom: 5px;
}

.profile-dropdown-content a:hover {background-color: #f1f1f1}

.profile-dropdown:hover .profile-dropdown-content {
    display: block;
}

.profile-dropdown-content .mark-label{
    color: rgba(68, 68, 68, 0.91);
}
/*[End] of Profile => Added by Thoura Lai on 30-June-2018*/


/* Begin of Notification by Thoura Lai on 03-July-2018*/
#notification{
    margin-right: 10px;
    margin-left: 10px;
}

#notification .fa-stack[data-count]:after{
    position:absolute;
    right:5%;
    top:10%;
    content: attr(data-count);
    font-size:38%;
    padding:.7em;
    border-radius:50%;
    line-height:.8em;
    color: #ebebeb;
    background:rgba(255,0,0,.85);
    text-align:center;
    min-width: 1em;
    font-weight:bold;
}
#notification-icon{
    color: white;
}

#notification-icon:hover{
    color: white;
}

#notification .ring-icon{
    font-size: 30px;
}

#notification .ring-number span{
    visibility: hidden;
    font-size: 28px;
    top: -7px;
    left: -3px;
}

#notification .fa-stack{
    font-size: 25px;
}

.notifications .dropdown-toggle::after{
    border: none;
}

.notifications .bar{
    height: 1px;
    background: rgba(167, 178, 183, 0.51);
}

.mark-label{
    color: #686868;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

.notif-header .notif-footer{
    height: 10px;
}

.notif-container{
    margin-top: 3px;
    margin-bottom: 3px;
}

/*--Custom scroll bar*/
scrollbar{
    width: 10px;
}

.notifi-see-all{
    text-align: center;
}

.notif-title{
    display: flex;
    margin: 0;
}
.notif-title .clear-noti{
    text-align: right;
    margin-right: 10px;
    color: #0e3ce8;
    font-size: 14px;
}

.notif-title .clear-noti:hover{
    cursor: pointer;
}


.notif-title .top-text{
    margin-left: 10px;
}
.items{
    display: flex;
    align-items: center;
    padding: 2px 10px 2px 10px;
    background: rgba(250, 250, 250, 0.81);
}

.items .top-text{
    margin-left: 10px;
}

.notification-content{
    box-shadow: 0 3px 7px 0px #dadada;
    top: 37px;
}

.notif-description{
    padding-left: 10px;
}

.notif-description p{
    margin: 0;
}

.notifi-type{
    display: flex;
    align-items: center;
}

.notifi-type i{
    margin-right: 10px;
}


/*[End] of Notification by Thoura Lai on 03-July-2018*/


.mark-icon a:hover{
    text-decoration: none;
}

.yellow-star i.fa {
    font-size: 13px;
    color: #ccaf1c;
}

.white-star i.fa{
    font-size: 13px;
    color: #dbdbdb;
}


/*Top button Style by Thoura on 17-07-2017*/
#button-top {
    display: none;
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 10;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: rgba(255, 0, 0, 0.84);
    color: white;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 4px;
    font-weight: bold;
}

#button-top:hover {
    background-color: #555;
}


/*Begin of Modify Book => Added by Thoura Lai on 25-July-2018*/
.modify-button{
    border: none;
    background: transparent;
    color: #636363;
}

.modify-dropdown {
    position: relative;
    display: inline-block;
    z-index: 1;
    right: -5px;
    top: -2px;
}

.modify-dropdown-content {
    display: none;
    position: absolute;
    background-color: #fdfdfd;
    width: 75px;
    height: 25px;
    box-shadow: 0px 5px 5px 0px rgba(29, 29, 29, 0.26);
    right: 22px;
    top: 1px;
    z-index: 10;
}

.modify-shape{
    position: relative;
    top: 0px;
    right: -10px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-left: 10px solid #fdfdfd;
    border-bottom: 12px solid transparent;
    float: right;
}


.modify-dropdown-content a {
    text-decoration: none;
    margin-right: 5px;
    margin-left: 8px;
    color: #363d40;
}

.modify-dropdown-content a i{
}

.modify-dropdown-content a:hover {
    color: #009800;
}

.modify-dropdown:hover .modify-dropdown-content {
    display: block;
}
/*[End] of Modify Book => Added by Thoura Lai on 25-July-2018*/


.adveritisement {
    margin-bottom: 15px;
}