
.profile-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.profile-container{
    width: 500px;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    background: rgba(245, 245, 245, 0.71);
}

.profile-container .title{
    text-align: center;
    color: rgba(84, 84, 84, 0.9);
}

.photo-container .photo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload{
    display: flex;
    justify-content: center;
    align-items: center;
}

.choose-wrapper{
    margin-top: 10px;
    padding: 10px;
}

.choose{
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #1da291 !important;
    color: #1e9f90 !important;
}

.photo-container .photo .middle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    padding: 0px 20px 0px 20px;
}

.form-container .bar{
    height: 1px;
    background: rgba(167, 178, 183, 0.51);
    margin-top: 0;
    margin-bottom: 15px;
}

.submit button{
    width: 150px;
}

.btn-primary {
    background: none;
}

.submit a{
    width: 150px;
}

.submit .update{
    align-self: flex-start;
    border-color: #1da291 !important;
    color: #1e9f90 !important;
}

.submit a{
    float: right;
    border-color: #1da291 !important;
    color: #1e9f90 !important;
}


/*custom browse image*/
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    font-size: 100px;
    text-align: center;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
    background: #1ea291 !important;
}

.error{
    margin-top: 10px;
    color: rgba(255, 0, 0, 0.71);
}

.success{
    color: green;
    margin-top: 10px;
}