body,html{
    width: 100%;
    height: 100%;
}

.reset-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    min-width: 100%;
    min-height: 100%;
    background: #6f6d6d;
}

.reset-container{
    width: 500px;
    background: #fdfbfb;
    border-radius: 2px;
    padding: 20px;
}

.reset-footer{
    float: right;
}

.reset-title{
    border-bottom: 2px solid #1aba9b;
}

.reset-email{
    color: #6a6a6a;
}

.error{
    color: rgba(219, 0, 0, 0.58);
    font-weight: bold;
}

.success{
    color: #007800;
}