
.login-clean {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-container {
    width: 361px;
    padding: 15px;
    border-radius: 5px;
    background: #fff;
}

.sign-title {

}

.sign-title .title-text {
    text-align: center;
    border-bottom: none;
    border: 0;
    padding: 10px;
}

.form-control:focus {
    box-shadow: none;
}
.bar {
    /* height: 1px; */
    /* background-color: darkgray; */
}

.sign-form {
    margin-top: 10px;
}

.social-buttons {
    display: table;
    text-align: center;
    width: 100%;
    margin: 30px 0;
}

.social-buttons .button-group {
    display: inline-block;
    margin: 0 16px;
}

.button-group a i {
    background: #1abc9c;
    padding: 10px;
    border-radius: 50%;
    color: #fff;
    width: 50px;
    text-align: center;
    height: 50px;
    line-height: 30px;
}

.submit {
    margin-top: 15px;
}

.forgot-password {
    float: right;
}

.mark-label {
    color: #686868;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sign-container a {
    text-decoration: none;
    color: #0f36bb;
}

.social-buttons a {
    width: 49%;
    color:  #333 !important;
    border: 1px solid #6cb6ac !important;
}

