
.sign-wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
}

.sign-container{
    margin: 10px;
    border-radius: 3px;
    width: 400px;
    padding: 10px 30px 10px 30px;
    background: #fff;
}

.sign-title h3{
    margin: 0;
    text-align: center;
}

.submit button{
    float:right;
    border-radius: 4px !important;
    background: transparent !important;
    color: #1ea291 !important;
    border: 1px solid #1da391 !important;
}

.mark-label{
    color: #686868;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.social-buttons{
    margin:12px 0
}

.sign-form{
    margin-bottom: 80px;
}
.social-buttons{

}
.social-buttons a{
    width: 49%;
    border-radius: 4px !important;
    background: transparent !important;
    color: #1ea291 !important;
    border: 1px solid #1da391 !important;
    width: 48% !important;
}