.upload-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.upload-wrapper {
    width: 100%;
    height: auto;
    padding: 10px;
}


.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #1aba9b;
    outline: 0;
    box-shadow: none;
}

.bootstrap-label {
    padding: 0;
}

.custom-file {
    color: #333;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

h1 {
    padding: 50px 0;
    font-weight: 400;
    text-align: center;
}

p {
    margin: 0 0 20px;
    line-height: 1.5;
}

main {
    margin: 0 auto;
    background: #fff;
}

.all-content {
    display: none;
    padding: 10px 0px;
    border-top: 2px solid #1aba9b;
    min-height: 350px;
}

.tab-checkbox {
    display: none;
}

.tab-label {
    display: inline-block;
    padding: 10px 20px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
}

.tab-label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
}

.tab-label:hover {
    color: #888;
    cursor: pointer;
}

.tab-checkbox:checked + label {
    color: #fff;
    background: #1aba9b;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
    display: block;
}

.col-sm-4 .img-container {

}

.col-sm-4 .img-container img {

}

/*@me/*----- Tabs -----*/
.tabs {
    width: 100%;
    display: inline-block;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
    display: block;
    clear: both;
    content: '';
}

.tab-links li {
    margin: 0px 5px;
    float: left;
    list-style: none;
}

.tab-links a {
    padding: 9px 15px;
    display: inline-block;
    border-radius: 3px 3px 0px 0px;
    background: #7FB5DA;
    font-size: 16px;
    font-weight: 600;
    color: #4c4c4c;
    transition: all linear 0.15s;
}

.tab-links a:hover {
    background: #a7cce5;
    text-decoration: none;
}

li.active a, li.active a:hover {
    background: #fff;
    color: #4c4c4c;
}

/*----- Content of Tabs -----*/
.tab-content {
    padding: 15px;
    border-radius: 3px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
    background: #fff;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

@media (max-width: 420px) {
    .upload-container {
        padding: 10px 10px;
        margin: 0 auto;
    }

    .container .logo {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
}


.upload-text-error{
    color: rgba(255, 0, 0, 0.61);
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 5px;
}

#stars-table li i{
    font-size: 12px;
}

.header-text{
    text-align: center;
    color: #5b5b5b;
}

#upload-table{
    table-layout:fixed;
    border-color: #f9f9f9;
}

#upload-table td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 7px 12px;
}

#upload-table th{
    padding: 8px 12px;
}

.filter{
    padding: 5px 0px;
}

.sort{
    margin-right: 10px;
    width: 150px;
}

.display{
    margin-right: 10px;
    width: 150px;
}

.search-input{
    width: 300px;
}


.attachment-container{


}

.attachment-item{
    color: #1aba9b;
}

.attachment-item:hover{
    cursor: pointer;
}

#table-attachment{
    table-layout:fixed;
    border: #1aba9b;
}

#table-attachment td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 8px;
}

#table-attachment th{
    padding: 5px 10px;
    font-size: 15px;
    font-family: "Quicksand", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-attachment{
    font-weight: 600;
    text-align: center;
    color: #8d8d8d;
}

.add-icon{
    font-size: 23px;
    color: #006e00;
    margin: 0 7px;
}

#add-label-icon{
    width: 100%;
    border: 1px solid rgba(47,241,116,0.57);
    border-radius: 4px;
}

