.wrapper-notifications{
    display: flex;
    justify-content: center;
    min-height: 600px;
    padding: 15px;
    background: #cac8c8;
}

.all-container-notifications{
    width: 45%;
    padding: 15px;
    background: #f9f9f9;
}



div#all-container-notifications .items.border.dropdown-item {
    padding: 5px;
    margin-top: 4px;
    background: #f5f5f5;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


div#all-container-notifications .items.border.dropdown-item:hover {
    background: #ededed;
}

.notif-title{
    display: flex;
    margin: 0;
}
.notif-title .clear-noti{
    text-align: right;
    margin-right: 10px;
    color: #0e3eee;
    font-size: 14px;
}

.notif-title .clear-noti:hover{
    cursor: pointer;
}


.notif-title .top-text{
    margin-left: 10px;
}

.all-container-notifications .bar{
    height: 1px;
    background: rgba(167, 178, 183, 0.51);
    margin-top: 10px;
    margin-bottom: 5px;
}

#id-all-notification:hover{
    cursor: pointer;
    color: #0e3eee;
}